@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --accents-1: hsla(198, 100%, 98%, 1);
  --accents-2: hsla(98, 100%, 98%, 1);
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  --text-gradient: linear-gradient(180deg, #555, #000);

  color-scheme: light dark;
  color: var(--accents-8);
  background-color: var(--accents-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: var(--accents-1);
  text-decoration: inherit;
}

/* body {
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* Navbar */
nav {
  background-color: var(--accents-8);
  color: var(--accents-1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  align-items: center;
  padding: 10px 30px;
}
.logo {
  height: 4em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  filter: brightness(0) invert(1);
}
.logo:hover {
  cursor: pointer;
}
.menu-items {
  display: flex;
  gap: 50px;
}
.menu-items li {
  list-style: none;
}
.menu-item {
  font-size: 20px;
  color: var(--accents-3);
}
.menu-item:hover {
  color: var(--accents-2);
}
.active {
  color: var(--accents-2);
  text-decoration: underline;
}
.right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#cta-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  outline: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--accents-8);
  background-color: var(--accents-2);
  cursor: pointer;
  transition: border-color 0.25s;
}
#cta-btn:hover {
  border-color: var(--accents-1);
  color: var(--accents-1);
  background-color: var(--accents-8);
}
#cta-btn:focus,
#cta-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.toggle-container {
  display: none;
}
.toggle-container button {
  /* color: white; */
  padding: 3px 5px;
  background: transparent;
  outline: transparent;
  border: 1px solid var(--accents-2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.toggle-close {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: ponter;
  display: none;
}
/* Hero Section */
.hero-section {
  padding: 150px 30px;
  /* background-color: var(--accents-3); */
}
.hero-container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid var(--accents-8); */
}
.hero-left {
  width: 61%;
}
.hero-title {
  font-size: 70px;
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  margin-bottom: 0;
}
.hero-subtitle {
  /* line-height: 1; */
  font-size: 22px;
  /* max-width: 50%; */
  font-weight: 500;
  margin-bottom: 20px;
}
.profile-picture {
  height: 300px;
  border: 1px solid var(--accents-8);
  border-radius: 100%;
}
.hero-btn button {
  background-color: var(--accents-8);
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}
.hero-btn button:hover {
  cursor: pointer;
  background-color: var(--accents-1);
  color: var(--accents-8);
  transition: 0.2s ease-in-out;
  border: 1px solid var(--accents-8);
}

.icons-container {
  margin-right: 30px;
  display: flex;
  gap: 15px;
}
.icon {
  font-size: 22px;
  color: var(--accents-8);
}
/* Break Points */
@media (width < 1200px) {
  .menu-items {
    gap: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  /* Header */
  .logo {
    height: 3rem;
  }
  .toggle-container,
  .toggle-close {
    display: block;
  }
  .menu-container {
    background-color: var(--accents-8);
    padding: 40px 50px;
    position: absolute;
    top: -100%;
    right: 0px;
    border-radius: 0 0 0 5px;
  }
  .show-menu-container {
    top: 0;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 100px 50px 10px;
  }
  .menu-item {
    font-size: 16px;
  }
  .toggle-close {
    position: absolute;
    right: 40px;
    top: 50px;
  }
  .cta {
    display: none;
  }
  /* Hero Section */
  .hero-title {
    font-size: 40px;
  }
  .hero-subtitle {
    font-size: 24px;
  }
}
@media only screen and (max-width: 766px) {
  .logo {
    height: 2rem;
  }
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .profile-picture {
    height: 200px;
  }
  .hero-left {
    width: auto;
    padding-top: 20px;
  }
  .hero-title {
    font-size: 32px;
  }
  .hero-subtitle {
    font-size: 16px;
    width: 300px;
  }
}
