@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
:root {
  --brand: #ca873a;
  --darkest: #262c30;
  --dark: #44514b;
  --light-dark:#b3afa9;
  --mid: #9eb8bf;
  --light: #f0e7dd;
  --lightest: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--darkest);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  max-width: min(1400px, 95%);
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
p,
a,
li,
span,
label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
img,svg,picture{
  display:block;
  width: 100%;
}
i{
  color: var(--lightest);
}
a{
  text-decoration: none;
  color: var(--lightest);
}
li{
  list-style: none;
}
